@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8
}

body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
    background-color: var(--bg-black-50);
}
*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
:before,
:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
.container {
	max-width: 1140px;
	/* background-color: red; */
	margin: auto;
}
.header {
	/* background-color: gray; */
	padding: 20px 15px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.header .logo a {
	display: inline-block;
	text-align: center;
	line-height: 36px;
	height: 40px;
	width: 100px;
	border: 2px solid black;
	font-size: 24px;
	color: black;
    font-weight: 600;
}
.about-section .logo a{
    display: inline-block;
	text-align: center;
	line-height: 36px;
	height: 40px;
	width: 100px;
	border: 2px solid black;
	font-size: 24px;
	color: black;
    font-weight: 600;
}
.contact-section .logo a{
    display: inline-block;
	text-align: center;
	line-height: 36px;
	height: 40px;
	width: 100px;
	border: 2px solid black;
	font-size: 24px;
	color: black;
    font-weight: 600;
}
.header .hamburger-btn {
	height: 40px;
	width: 40px;
	/* background-color: blue; */
    /* box-shadow: 0 0 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 3s ease;
}
.header .hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black-900);
    position: relative;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between {
	justify-content: space-between;
}
.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}
.header .hamburger-btn span:before{
    top: -6px;
}
.header .hamburger-btn span:after{
    top: 6px;
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.hover-in-shadow:hover::after{
    box-shadow: var(--inner-shadow);
}
.header .hamburger-btn::after{
    border-radius: 50%;
}
.nav-menu{
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-black-50);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.3s ease;
}
.nav-menu .close-nav-menu:after{
    border-radius: 50%;
}
.nav-menu-inner{
    /* background-color: black; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu ul{
    padding: 15px;
}
.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
}
.nav-menu ul li:last-child{
    margin-bottom: 0;
}
.nav-menu ul li a{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s ease;
}
/* .nav-menu ul li a.active{
    color: var(--skin-color);
} */
.nav-menu ul li a:after{
    border-radius: 30px;
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.home-section .home-text p{
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0px;
}
.home-section .home-text h2{
    font-size: 45px;
    font-weight: 500;
    color: var(--text-black-900);
    margin: 0px;
}
.home-section .home-text h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0px;
}
.home-section .home-img .img-box{
    /* background-color: gray; */
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.home-section .home-img .img-box img{
    width: 100%;
}
.align-items-center{
    align-items: center;
}
.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    border-radius: 30px;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    display: inline-block;
    margin: 10px;
}
.btn-1:after{
    border-radius: 30px;
}
.home-section .home-text .btn-1{
    border-radius: 30px;
}
.home-section{
    position: relative;
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    /* border: 4px solid var(--skin-color); */
    right: 10%;
    bottom: 15%;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.effect-2 div{
    height: 4px;
    width: 4px;
    /* background-color: #ff9c07; */
    background-color: black;
    margin: 0 3px 3px;
}
.effect-2{
    left: 5%;
    bottom: 15%;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite
}
@keyframes topBounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px)
    }
}
.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    /* border: 25px solid white; */
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
    /* animation: spin 10s linear infinite; */
}
@keyframes leftBounce{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
}

.about-section{
    padding: 80px 0 80px;
    min-height: 120vh;
}
.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.section-title h2{
    display: inline-block;
    font-size: 33px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0px;
}
.section-title h2:before{
    content: attr(data-heading);
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: var(--skin-color);
}
.about-info{
    font-size: 17px;
}
#btn{
    margin-top: 20px;
    /* left: 10%; */
}
.about-section .about-info{
    /* flex: 0 0 60%; */
    /* max-width: 60%; */
    padding: 0 15px;
}
.about-section .about-info p,li,ul{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}
.about-section .about-info span,li,ul{
    font-weight: 600;
}
.about-section .about-info .btn-1{
    margin: 30px 20px 0 0;
}
.about-section .about-tabs{
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.about-section .about-tabs .tab-item{
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    /* transition: all 0.3s ease; */
    font-size: 16px;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
    /* margin-bottom: 50px; */
}
.about-section .about-tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}
.about-section .about-tabs .tab-item:after{
    border-radius: 30px;
}
#add{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-black-600);
}
hr{
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.about-section .tab-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-section .skills .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.about-section .skills .skill-item p{
    font-size: 16px;
    color: var(--text-black-600);
    text-transform: capitalize;
    margin: 0 0 10px;
    margin-top: 15px;
}
.about-section .skills .skill-item .progress{
    height: 6px;
    border-radius: 30px;
    margin: 7px;
}
.about-section .skills .skill-item .progress-bar{
    background-color: var(--text-black-600);
    height: 6px;
    left: 7px;
    top: 7px;
}
.nav-menu.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease-in;
}
.fade-out-effect{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bg-black-50);
    height: 100%;
    z-index: -1;
    visibility: hidden;
}
.fade-out-effect.active{
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.contact-section{
    padding: 80px 0 80px;
    min-height: 85vh;
}
.contact-section .contact-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}
.contact-section .contact-item-inner{
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}
.contact-section .contact-item-inner i{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-section .contact-item-inner span{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 10px;
    text-transform: capitalize;
}
.contact-section .contact-item-inner p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 16px;
    margin: 0px;
    word-break: break-word;
}
footer{
    background: rgb(59, 61, 63);
    width: 100%;
    height: 20vh;
}




